Content based Recommendation system using Machine Learning

Movie Recommendation Engine

Dataset Information:
I am going to use the tmdb movie dataset that consists of two files, tmdb_5000_credits.csv and tmdb_5000_movies.csv that I downloaded from kaggle website: https://www.kaggle.com/tmdb/tmdb-movie-metadata.

Libraries:
pandas
Numpy
sklearn
requests

Algorithms:
Content-Based filtering

